      {{ if or (not .Paginator) (eq .Paginator.PageNumber 1) }}
      <div class="ananke-search-wrapper tc-l">
        <div id="search" class="ananke-search-panel"></div>
      </div>
      {{ end }}

    </div>
  </header>
{{ else }}
  <header class="relative">
    <div class="pb3-m pb6-l {{ .Site.Params.background_color_class | compare.Default "bg-black" }}">
      {{ partials.Include "site-navigation.html" . }}
      <div class="tc-l pv3 ph3 ph4-ns">
        <h1 class="f2 f-subheadline-l fw2 light-silver mb0 lh-title">
          {{ .Title | compare.Default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
            {{ . }}
          </h2>
        {{ end }}
      </div>

      {{ if or (not .Paginator) (eq .Paginator.PageNumber 1) }}
      <div class="ananke-search-wrapper tc-l">
        <div id="search" class="ananke-search-panel"></div>
      </div>
      {{ end }}

    </div>
  </header>
{{ end }}

{{ if or (not .Paginator) (eq .Paginator.PageNumber 1) }}
  <link rel="stylesheet" href="/pagefind/pagefind-ui.css">
  <script src="/pagefind/pagefind-ui.js"></script>

  <script>
    const ui = new PagefindUI({
      element: "#search",
      showSubResults: false,
      resetStyles: false,
      placeholder: "Search articles"
    });

    const panel = document.getElementById("search");

    document.addEventListener("keydown", e => {
      if (e.key === "/" && !/input|textarea/i.test(e.target.tagName)) {
        e.preventDefault();
        panel.querySelector("input")?.focus();
      }
    });
  </script>
{{ end }}
